{
    "Version": "2012-10-17",
    "Statement": [
        {
            "Sid": "VisualEditor3",
            "Effect": "Allow",
            "Action": "s3:*",
            "Resource": [
                "arn:aws:s3:::YourOwnerName-cdp/YourOwnerName-01",
                "arn:aws:s3:::YourOwnerName-cdp/YourOwnerName-01/*"
            ]
        }
    ]
}
